@font-face {
  font-family: "dancing";
  src: url("../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jersey";
  src: url("../assets/fonts/Jersey_15/Jersey15-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-i";
  src: url("../assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playwrite";
  src: url("../assets/fonts/Playwrite_US_Modern/PlaywriteUSModern-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fira";
  src: url("../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "inter-i";
  src: url("../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merri";
  src: url("../assets/fonts/Merriweather/Merriweather-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merri-b";
  src: url("../assets/fonts/Merriweather/Merriweather-Black.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dancing {
  font-family: "dancing", sans-serif; /* Ajoutez une police de secours */
}

.jersey {
  font-family: "jersey", sans-serif; /* Ajoutez une police de secours */
}
.montserrat {
  font-family: "montserrat", sans-serif; /* Ajoutez une police de secours */
}
.montserrat-i {
  font-family: "montserrat-i", sans-serif; /* Ajoutez une police de secours */
}
.playwrite {
  font-family: "playwrite", sans-serif; /* Ajoutez une police de secours */
}
.ubuntu {
  font-family: "ubuntu", sans-serif; /* Ajoutez une police de secours */
}

.fira {
  font-family: "fira", sans-serif; /* Ajoutez une police de secours */
}

.inter {
  font-family: "inter", sans-serif; /* Ajoutez une police de secours */
}
.inter-i {
  font-family: "inter-i", sans-serif; /* Ajoutez une police de secours */
}
.merri {
  font-family: "merri", sans-serif; /* Ajoutez une police de secours */
}
.merri-b {
  font-family: "merri-b", sans-serif; /* Ajoutez une police de secours */
}
.poppins {
  font-family: "poppins", sans-serif; /* Ajoutez une police de secours */
}

.ov {
  overflow: scroll;
}

/* Add more @font-face rules as needed for other fonts */
